---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
  </body>
  <br>
  <div style="text-align: center;">
    <h3> Visitors since 2024/12/11 </h3>
    <div style="display:inline-block;width:50%;">
  <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=pM7jch1sOpOon9hJtFguF1qMYuNSoSMuVoas9P2kKA0&cl=ffffff&w=a"></script>
    </div>
  </div>
</html>
